/* Home Washing Booking */

#hidden {
    display: none;
}

.washing__booking {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.washing__booking__cards-wrapper {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
}

.nextIcon, .prevIcon {
    margin: 30px;
    font-size: 25px;
    display: none;
}

.washing__booking__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: var(--primary-color);
    margin: 50px;
}

.washing__booking__card__header {
    text-align: center;
}

.washing__booking__card__type {
    color: var(--title-color-red);
    margin: 0;
}

.washing__booking__card__price {
    font-size: var(--main-heading-big-mobile);
    margin: 0;
    margin-top: -5px;
}

.washing__booking__card__description-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.washing__booking__card__description-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
}

.washing__booking__card__description-icon-check {
    color: var(--confirm-color);
    font-size: var(--body-text-mobile);
}

.washing__booking__card__description-icon-x {
    color: gray;
    font-size: var(--body-text-mobile);
}

.washing__booking__card__description-text {
    max-width: 126px;
    font-size: var(--body-text-mobile);
}

.washing__booking__card__choose__package-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10%;
    padding: 0;
    margin: 0;
}

.washing__booking__card__choose__package-text {
    white-space: nowrap;
}

.washing__booking__card__choose__package-btn {
    width: 140px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--btn-color);
    transition: all 0.3s ease-in-out;
}

.washing__booking__card__choose__package-btn:hover {
    cursor: pointer;
    background-color: var(--btn-color-hover);
}


/* MQ Desktop => Mobile */

/* CSS for Desktops */
@media (min-width: 1025px) {
    
}

/* CSS for Laptop */
@media screen and (min-width: 800px) and (max-width: 950px) {
    .washing__booking__card {
        margin: 20px;
    }
}

/* CSS for Ipad */
@media screen and (min-width: 0px) and (max-width: 840px) {
    .washing__booking__cards-wrapper {
        margin-top: 30px;
    }

    .washing__booking__card {
        padding: 40px;
        margin: 0px;
    }

    .nextIcon, .prevIcon {
        display: block;
    }
}

/* CSS for Mobile */
@media screen and (min-width: 0px) and (max-width: 493px) {
    
}