@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header-default {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 999;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}

.header-scroll {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 999;
    transition: all 0.3s ease-in-out;
    background-color: var(--background-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* Logo */

.header__logo-link {
    text-decoration: none;
}

.header__logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

.header-logo {

}

/* Menu Icon */

.header__menu-icon {
    display: none;
}

/* Nav Links */

.header__nav-list {
    display: none;
}

.header__nav-list-content {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2%;
    gap: 30px;
}

.header__nav-link {
    text-decoration: none;
    color: white;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
    display: none;
    cursor: pointer;
}

.header__nav-desktop {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2%;
    gap: 30px;
}

.header__nav-link-desktop {
    text-decoration: none;
    color: white;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.header__nav-login-popup {
    position: absolute;
    margin-top: 10px;
    right: 10px;
    background-color: var(--background-color);
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
}

.header__nav-login-input {
    padding: 10px 10px;
    background-color: white;
    border: none;
    outline: none;
    margin: 5px;
    color: black;
}

.header__nav-login-btn {
    padding: 10px 10px;
    background-color: var(--btn-color);
    border: none;
    cursor: pointer;
    color: white;
}

.header__nav-login-btn:hover {
    background-color: var(--btn-color-hover);
}

.header__nav-login-text {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 13px;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}

.header__nav-login-text:hover {
    cursor: pointer;
    color: var(--title-color-red);
}

.link-btn {
    padding: 10px 10px;
    background-color: var(--btn-color);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.link-btn:hover {
    background-color: var(--btn-color-hover);
}

.header__nav-link-desktop:hover {
    color: var(--title-color-red);
}

/* MQ */

@media screen and (max-width: 800px) {
    .header__nav-list {
        display: block;
        position: absolute;
        top: 100%;
        right: 0%;
        margin-right: 0px;
        background-color: var(--background-color);
        width: 160px;
        height: 208px;
    }

    .header__nav-list-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .header__nav-list-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }

    .header__nav-link-desktop {
        display: none;
    }

    .header__nav-login-popup {
        right: 160px;
        top: 77px;
    }

    .link-btn {
        display: none;
    }

    .link-btn-mobile {
        width: 100%;
        height: 100%;
    }

    .user {
        margin: 0;
    }

    .header__nav-link {
        display: block;
    }

    .item__bg-hover-wrapper {
        display: flex;
        align-items: center;
        transition: all 0.3s ease-in-out;
        width: 100%;
        height: 100%;
    }

    .item__bg-hover-wrapper:hover {
        width: 160px;
        background-color: var(--primary-color);
    }

    .header__nav-link:hover {
        color: white;
    }

    .header__menu-icon {
        display: block;
        margin-left: auto;
        margin-right: 10%;
        font-size: 24px;
        cursor: pointer;
    }

    .header__nav-link {
        width: 100%;
        padding-top: 14px;
        padding-left: 20px;
        padding-bottom: 14px;
        padding-left: 20px;
    }
}