/* Order section */
.orders__section {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.orders__card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

/* Orders card */
.orders__card {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    padding: 15px;
    gap: 20px;
    min-height: 200px;
}

/* För datum och status */
.orders__card-info-text-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.orders__card-vector {
}

/* Status */
.orders__card-status-pending {
    color: orange;
}

.orders__card-status-confirmed {
    color: green;
}

/* För info included */
.orders__card-included-wrapper {
    max-width: 180px;
}

/* Orders btn */

.orders__card-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.orders__card-btn {
    padding: 10px 10px;
    border: none;
    background-color: var(--btn-color);
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.orders__card-btn:hover {
    background-color: var(--btn-color-hover);
}